<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.locationstream"
      android:versionCode="1"
      android:versionName="1.1.2">
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      
    <application android:name="LocationSensorApp" android:icon="@drawable/icon" android:label="@string/app_name"
    			 android:persistent="true">
         <activity android:name="LocationSensorUI"
              android:label="@string/app_name"
              android:configChanges="orientation|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    
		<activity android:name=".foursquare.FoursquareMainActivity" >
		</activity>

	    <activity android:name=".foursquare.LoginActivity"
			      android:launchMode="singleInstance">
	    </activity>

		<activity android:name=".facebook.FacebookMainActivity" >
		</activity>

		<activity android:name=".twitter.TwitterMainActivity" >
		</activity>

        <service android:name=".LocationSensorManager">
        </service>
        
        <provider android:name="com.locationstream.LocationSensorProvider"
            android:authorities="com.locationstream"
            android:syncable="false" android:multiprocess="false">
        </provider>
        
        <receiver android:name=".BootCompleteReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="com.motorola.virtualsensor.INIT_COMPLETE" />
			</intent-filter>
		</receiver>

    </application>
</manifest> 
